*
{
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    font-family: "Nerko One";
    color: #BED7DC ;
}
.container 
{
    /* background-color: cornflowerblue; */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;  
    flex-wrap: wrap;
    width: 100svw;
    height: 100svh;
}
.text
{
    background:linear-gradient(#EEEEEE , #134B70);
    padding: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 150px  70px ;
}
#random 
{
    /* background-color: rgb(62, 116, 116); */
    display: flex;
    padding: 50px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#Fetching
{
    background:linear-gradient(#508C9B , #201E43);
    padding: 20px;
    /* border-radius: 150px  70px ; */
    border-radius: 70% 10% 50% 10% / 10% 70% 10% 50% ;

}
.button 
{
    /* background-color: darkcyan; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 10px;
    flex-wrap: wrap;
}
.btn 
{
    background-color: #201E43;
    padding: 10px;
    border-radius: 10px 5px ;
    border: none;
    font-size: 1em;
    transition:  1.1s ease-in-out;
}
.btn:hover, #copy i:hover
{
    background-color: #BED7DC;
    color: #201E43;
    border-radius: 10px 15px 5px ;
    transform: scale(1.1);
}
